/env
scraper/test.html
scraper/test.py
scraper/output.txt
/test-sql
demoproject/demoproject/__pycache__
/.vscode
demoproject/newsscraper/__pycache__
demoproject/newsscraper/migrations/__pycache__
/.venv