/env
scraper/test.html
scraper/test.py
scraper/output.txt
/test-sql
demoproject/demoproject/__pycache__
/.vscode
demoproject/newsscraper/__pycache__
demoproject/newsscraper/migrations/__pycache__
/.venv
articles/__pycache__

project_main/__pycache__/
/__pycache__
/authenticator/__pycache__
authenticator/migrations/__pycache__/__init__.cpython-310.pyc
authenticator/migrations/__pycache__/0001_initial.cpython-310.pyc
authenticator/migrations/__pycache__/0002_rename_uid_tokenblacklist_id_and_more.cpython-310.pyc
.env


*/migrations/__pycache__